body {
    background-color: #f2e6ff;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 40px;
    color: #663399;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    margin: 0;
    padding: 20px;
}

button {
    background-color: #663399;
    color: #ffffff;
    padding: 20px;
    border: none;
    border-radius: 30px;
    font-size: 20px;
    margin-top: 30px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

button:active {
    transform: scale(0.95);
}
button:hover {
    background-color: #ffffff;
    color: #663399;
    transform: scale(1.05);
}

.author {
    color: #663399;
    font-style: italic;
}
